<h1>アカウント管理 - 編集</h1>

<%= flash[:success] %>

<h2>アカウント情報</h2>

<% if @account.errors.any? %>
  <div class = "alert">
    <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @account, local: true) do |f| %>
    <%= f.label :account_id, 'アカウントID（必須）' %>
    <%= f.text_field :account_id, value: @account.account_id , readonly: true  %>
    <%= f.label :account_code, 'アカウントコード（必須）' %>
    <%= f.text_field :account_code, value: @account.account_code%>
    <%= f.label :mail_address, 'メールアドレス（必須）' %>
    <%= f.text_field :mail_address, value: @account.mail_address%>
    <%= f.label :password, 'パスワード（必須）' %>
    <%= f.password_field :password%>
    <%= f.label :password_confirmation, 'パスワード確認（必須）' %>
    <%= f.password_field :password_confirmation%>
    <%= f.label :family_name, '姓（必須）' %>
    <%= f.text_field :family_name, value: @account.family_name%>
    <%= f.label :first_name, '名（必須）' %>
    <%= f.text_field :first_name, value: @account.first_name%>
    <%= f.label :kana_family_name, 'かな姓（必須）' %>
    <%= f.text_field :kana_family_name, value: @account.kana_family_name%>
    <%= f.label :kana_first_name, 'かな名（必須）' %>
    <%= f.text_field :kana_first_name, value: @account.kana_first_name%>
    <%= f.label :birth, '生年月日（必須）' %>
    <%= f.text_field :birth, value: @account.birth%>
    <%= f.label :valid_start_date, '有効開始日（必須）' %>
    <%= f.text_field :valid_start_date, value: @account.valid_start_date%>
    <%= f.label :valid_end_date, '終了日' %>
    <%= f.text_field :valid_end_date, value: @account.valid_end_date%>
    <%= f.label :is_valid, '有効フラグ（必須）' %>
    <%= f.check_box :is_valid, value: @account.is_valid%>
    <%= f.label :memo, 'メモ' %>
    <%= f.text_field :memo, value: @account.memo%>
    <%= f.submit '更新' , data: { confirm: '本当に更新してよろしいですか？'}%>
<% end %>

<%=link_to(accounts_path) do %>
    <button>一覧へ戻る</button>
<%end%>

<%= button_to  '削除', @control_device, method: :delete, data: { confirm: '本当に削除してよろしいですか？'}%>

