<h1>アカウント管理 - 一覧</h1>

<%=link_to(new_account_path) do %>
    <button>新規登録</button>
<%end%>

<%= form_with url: accounts_url , method: :get, local: true do  |form| %>
  <%= form.text_field :search %>
  <%= form.submit '検索' %>
<% end %>

<%= paginate @accounts %>

<%=link_to(accounts_url(display_result: 10)) do %>
    <button>10件表示</button>
<%end%>

<%=link_to(accounts_url(display_result: 50)) do %>
    <button>50件表示</button>
<%end%>


<% if @accounts.empty? %>
    <p>一致する項目はありませんでした</p>
<%else%>
    <table border=”1″>
        <tr>
            <th>アカウントID<%= sort_asc("account_id")%><%= sort_desc("account_id")%></th>
            <th>アカウントコード<%= sort_asc("account_code")%><%= sort_desc("account_code")%></th>
            <th>メールアドレス<%= sort_asc("mail_address")%><%= sort_desc("mail_address")%></th>
            <th>メモ<%= sort_asc("memo")%><%= sort_desc("memo")%></th>
            <th>作成日<%= sort_asc("created_at")%><%= sort_desc("created_at")%></th>
            <th>最終更新日<%= sort_asc("updated_at")%><%= sort_desc("updated_at")%></th>
        </tr>
        <% @accounts.each do |account| %>
            <tr>
                <td class="account_id"><%= link_to account.account_id, account %><span class="tooltips"><%= account.memo %></span></td>
                <td><%= account.account_code %></td>
                <td><%= account.mail_address %></td>
                <td class="memo"><%= account.memo %></td>
                <td><%= account.created_at.to_s(:datetime_jp) %></td>
                <td><%= account.updated_at.to_s(:datetime_jp) %></td>
            </tr>
        <% end %>
    </table>
<%end%>

<%= paginate @accounts %>