<h1>アカウント管理 - 新規登録</h1>

<%= form_with(model: @account, local: true) do |f| %>
    <%= f.label :account_id, 'アカウントID' %>
    <%= f.text_field :account_id %>
    <%= f.label :account_code, 'アカウントコード' %>
    <%= f.text_field :account_code %>
    <%= f.label :mail_address, 'メールアドレス' %>
    <%= f.text_field :mail_address %>
    <%= f.label :family_name, '姓' %>
    <%= f.text_field :family_name %>
    <%= f.label :first_name, '名' %>
    <%= f.text_field :first_name %>
    <%= f.label :kana_family_name, 'かな姓' %>
    <%= f.text_field :kana_family_name %>
    <%= f.label :kana_first_name, 'かな名' %>
    <%= f.text_field :kana_first_name %>
    <%= f.label :birth_year, '生年月日_年' %>
    <%= f.text_field :birth_year %>
    <%= f.label :birth_month, '生年月日_月' %>
    <%= f.text_field :birth_month %>
    <%= f.label :birth_day, '生年月日_日' %>
    <%= f.text_field :birth_day %>
    <%= f.label :valid_start_date, '有効開始日' %>
    <%= f.text_field :valid_start_date %>
    <%= f.label :valid_end_date, '終了日' %>
    <%= f.text_field :valid_end_date %>
    <%= f.label :is_valid, '有効フラグ' %>
    <%= f.text_field :is_valid %>
    <%= f.label :memo, 'メモ' %>
    <%= f.text_field :memo %>
    <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', accounts_path %>