<h1>アカウント管理 - 参照</h1>

<h2>アカウント情報</h2>

<%= form_with(model: @account, local: true) do |f| %>
    <%= f.label :account_id, 'アカウントID' %>
    <%= f.text_field :account_id, value: @account.account_id, disabled: true %>
    <%= f.label :account_code, 'アカウントコード' %>
    <%= f.text_field :account_code, value: @account.account_code, disabled: true %>
    <%= f.label :mail_address, 'メールアドレス' %>
    <%= f.text_field :mail_address, value: @account.mail_address, disabled: true %>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, disabled: true %>
    <%= f.label :family_name, '姓' %>
    <%= f.text_field :family_name, value: @account.family_name, disabled: true %>
    <%= f.label :first_name, '名' %>
    <%= f.text_field :first_name, value: @account.first_name, disabled: true %>
    <%= f.label :kana_family_name, 'かな姓' %>
    <%= f.text_field :kana_family_name, value: @account.kana_family_name, disabled: true %>
    <%= f.label :kana_first_name, 'かな名' %>
    <%= f.text_field :kana_first_name, value: @account.kana_first_name, disabled: true %>
    <%= f.label :birth, '生年月日' %>
    <%= f.text_field :birth, value: @account.birth, disabled: true %>
    <%= f.label :valid_start_date, '有効開始日' %>
    <%= f.text_field :valid_start_date, value: @account.valid_start_date, disabled: true %>
    <%= f.label :valid_end_date, '終了日' %>
    <%= f.text_field :valid_end_date, value: @account.valid_end_date, disabled: true %>
    <%= f.label :is_valid, '有効フラグ' %>
    <%= f.check_box :is_valid, value: @account.is_valid, disabled: true %>
    <%= f.label :memo, 'メモ' %>
    <%= f.text_field :memo, value: @account.memo, disabled: true %>
<% end %>

<%=link_to(accounts_path) do %>
    <button>一覧に戻る</button>
<%end%>

<%=link_to(edit_account_path) do %>
    <button>編集</button>
<%end%>